.env
.tools/
.deployer-cache/
artifacts/
config/
data/
logs/
reports/
deployer/.deployer/
deployer/.deployer-probe/
deployer/probe-*/
deployer/address/
sequencer/jwt.txt
sequencer/genesis.json
sequencer/rollup.json
sequencer/op-geth-data/
sequencer/opnode_discovery_db/
sequencer/opnode_peerstore_db/
batcher/state.json
batcher/.env.generated
proposer/state.json
proposer/.env.generated
